@import '../../../../node_modules/react-tabs/style/react-tabs.scss';
@import '../../../styles/utils/mixins';
@import '../../../styles/utils/variables';

.tabContainer {
  position: absolute;
  padding-bottom: 150px;
  width: 40vw;
  height: 20vh;
  color: $white;

  p {
    @include secondary-font($size: 28px);
  }

  h1 {
    @include primary-font($size: 48px);
  }
}
