.hero-background {
  background: url('../../assets/images/hero.png');

  height: 100vh;
}

.hero-layer {
  background-color: rgba(0, 0, 0, 0.1);

  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  width: 100%;
  height: 100%;

  z-index: 1;
}
