@import '../../styles/utils/mixins';
@import '../../styles/utils/variables';

.portfolio_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  margin: 0;

  position: absolute;

  h1 {
    @include primary-font($size: 4em, $color: $white);
  }

  h2 {
    @include primary-font(
      $size: 2em,
      $color: $white,
      $weight: italic
    );
  }

  p,
  h4 {
    @include secondary-font($size: 1.4em, $color: $white);
  }

  .project_container {
    width: 70vw;
    margin-bottom: 5vh;

    display: flex;
    background-color: $blue;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 30px 26px 0px 0px rgba(0, 0, 0, 0.75);

    .project_left {
      height: 100%;
      width: 25vw;

      img {
        height: 100%;
        width: 100%;
        border-radius: 12px 0 0 12px;
      }
    }

    .project_right {
      width: 70%;
      padding: 20px;

      li {
        list-style-type: none;
        margin-bottom: 20px;

        display: flex;

        .project_tags {
          padding-right: 15px;
          padding-left: 15px;
          margin-right: 10px;
          background-color: $teal;
          border-radius: 5px 5px 5px 5px;

          p {
            font-size: 0.8em;
          }
        }
      }

      .line {
        width: 100%;
        border: solid $teal 2px;
        border-radius: 5px 5px 5px 5px;
      }

      .link_button_group {
        display: flex;
        justify-content: space-between;

        button {
          @include secondary-font(
            $size: 1.3em,
            $weight: bold,
            $color: $white
          );

          height: 50px;
          width: 250px;
          background-color: $teal;
          border: none;
          border-radius: 5px 5px 5px 5px;
        }
      }
    }
  }
}
