.hero-background {
  background: url("../../../assets/images/hero.png") no-repeat;
  height: 100vh;
}
.hero-layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.hero-layer h1 {
  font-family: "Calistoga", cursive;
  font-size: 78px;
}
.hero-layer p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
}
.hero-layer p span {
  font-weight: bold;
  font-style: italic;
}
.hero-layer i {
  font-size: 28px;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s;
}
.hero-layer i:hover {
  font-size: 32px;
}
@media (max-width: 500px) {
  .hero-layer h1 {
    margin-top: 120px;
  }
}
@media (max-width: 991px) {
  .hero-layer {
    text-align: center;
  }
  .hero-layer p {
    padding-left: 20px;
    padding-right: 20px;
  }
}
